#
#  Jetelina configuration
#

#
#  section of system configuration
#      debug  : define debug mode  true->debug mode false->run mode
#      logfile: logfile name path is fixed in lib/jetelina/log
#      logfilesize: MB order  ex. 10MB -> 10
#      fileuploadpath: define csv file upload path
#      sqllogfile: be executed SQL sentences log file
#      sqllogfilesize: MB order ex. 10MB -> 10
#      time1_logfile_rotation: log file rotation execute time 'from'
#      time2_logfile_rotation: log file rotation execute time 'till'
#           *log file rotation executes between 'time1_logfile_rotation' and 'time2_logfile_rotation'
#           *the watching interval time is default 1hr
#      tablecombinationfile: real sql execution test data file name in json form
#      sqllistfile: real sql list file name
#      sqlperformancefile: sql execution speed data file
#      tableapifile: file name for relation between talbe name and api no
#      experimentsqllistfile: sql list file for execution in test db
#      improvesuggestionfile: suggestion file name due to execute test db
debug = true
logfile = log.txt
size_logfile = 10
fileuploadpath = repo
sqllogfile = sql.txt
size_sqllogfile = 10
time1_logfile_rotation = 00:00
time2_logfile_rotation = 01:02
tablecombinationfile = JetelinaTableCombiVsAccessRelation.json
sqllistfile = JetelinaSqlList
sqlaccesscountfile = JetelinaSqlAccess
sqlperformancefile = JetelinaSqlPerformance
tableapifile = JetelinaTableApiRelation
experimentsqllistfile = JetelinaExperimentSqlList
improvesuggestionfile = JetelinaSuggestion.json

#
# column title of sqllogfile/sqllistfile/experimentalsqllistfile
# 
file_column_apino = apino
file_column_sql = sql
file_column_subquery = subquery
file_column_max = max
file_column_min = min
file_column_mean = mean

#
#  section of database
#      dbtype: type of database   
#                PostgreSQL -> portgresql
#                MariaDB    -> mariadb
#                Oracle     -> oracle
dbtype = postgresql

# PostgreSQL setting
host = localhost
port = 5432
user = postgres
password = postgres
sslmode = prefer
dbname = postgres
testdbname = testdb

# MariaDB setting

# Oracle setting

# execution limit number of select sentence in test db
selectlimit = 10

# 
# maxmum lines to read 'sqllogfile'
# not sure what number is the best, but this is for secure the system
#
reading_max_lines = 1000

#
# sql analyze execute interval 
#   this param is used in SQLAnalyzer.jl for repeat analyzing processing
#   this number is be hour unit  ex. 10hr interval -> 10 
analyze_interval = 48
