#
#  Jetelina configuration
#

#
#  section of system configuration
#      debug  : define debug mode  true->debug mode false->run mode
#      logfile: logfile name path is fixed in lib/jetelina/log
#      logfilesize: MB order  ex. 10MB -> 10
#      fileuploadpath: define csv file upload path
#      sqllogfile: be executed SQL sentences log file
#      sqllogfilesize: MB order ex. 10MB -> 10
#      time1_logfile_rotation: log file rotation execute time 'from'
#      time2_logfile_rotation: log file rotation execute time 'till'
#           *log file rotation executes between 'time1_logfile_rotation' and 'time2_logfile_rotation'
#           *the watching interval time is default 1hr
#      tablecombinationfile: real sql execution test data file name in json form
#      sqllistfile: real sql list file name
#      sqlperformancefile: sql execution speed data file
#      tableapifile: file name for relation between talbe name and api no
#      experimentsqllistfile: sql list file for execution in test db
#      improvesuggestionfile: suggestion file name due to execute test db
debug = true
logfile = log.txt
logfilesize = 10
fileuploadpath = repo
sqllogfile = sql.txt
sqllogfilesize = 10
logfile_rotation_open = 00:00
logfile_rotation_close = 01:02
tablecombinationfile = JetelinaTableCombiVsAccessRelation.json
sqllistfile = JetelinaSqlList
sqlaccesscountfile = JetelinaSqlAccess
sqlperformancefile = JetelinaSqlPerformance
tableapifile = JetelinaTableApiRelation
experimentsqllistfile = JetelinaExperimentSqlList
improvesuggestionfile = JetelinaSuggestion.json

#
# column title of sqllogfile/sqllistfile/experimentalsqllistfile
# 
file_column_apino = apino
file_column_sql = sql
file_column_subquery = subquery
file_column_max = max
file_column_min = min
file_column_mean = mean

#
#  default database
#      this parameter is used in calling api if db type were not specified
#      dbtype: type of database   
#                PostgreSQL -> portgresql
#                MySQL      -> mysql
#                Oracle     -> oracle
dbtype = postgresql

# PostgreSQL setting
pg_host = localhost
pg_port = 5432
pg_user = postgres
pg_password = postgres
pg_sslmode = prefer
pg_dbname = postgres
pg_testdbname = testdb

# MySQL setting
my_host = localhost
my_port = 
my_user = 
my_password = 
my_sslmode = prefer
my_dbname = 
my_testdbname = testdb

# Oracle setting
or_host = localhost
or_port = 
or_user = 
or_password = 
or_sslmode = prefer
or_dbname = 
or_testdbname = testdb

# execution limit number of select sentence in test db
selectlimit = 10

# 
# maxmum lines to read 'sqllogfile'
# not sure what number is the best, but this is for secure the system
#
reading_max_lines = 1000

#
# sql analyze execute interval 
#   this param is used in SQLAnalyzer.jl for repeat analyzing processing
#   this number is be hour unit  ex. 10hr interval -> 10 
analyze_interval = 48
