#
#  Jetelina configuration
#

#
#  section of system configuration
#      logfile: logfile name path is fixed in lib/jetelina/log
#      debug  : define debug mode  true->debug mode false->run mode
#      fileuploadpath: define csv file upload path
#      sqllogfile: be executed SQL sentences log file
#      sqljsonfile: 
logfile = log.txt
debug = true
fileuploadpath = lib/jetelina/testdata
sqllogfile = sql.txt
sqlanalyzedfile = sqlanalyzed.json
sqllistfile = JetelinaSqlList
sqlperformancefile = JetelinaSqlPerformance
tableapifile = JetelinaTableApi
experimentsqllistfile = JetelinaExperimentSqlList
improvesuggestionfile = JetelinaImprApis.json

#
# column title of sqllogfile/sqllistfile/experimentalsqllistfile
# 
file_column_apino = apino
file_column_sql = sql
file_column_max = max
file_column_min = min
file_column_mean = mean

#
#  section of database
#      dbtype: type of database   
#                PostgreSQL -> portgresql
#                MariaDB    -> mariadb
#                Oracle     -> oracle
dbtype = postgresql

# PostgreSQL setting
host = localhost
port = 5432
user = postgres
password = postgres
sslmode = prefer
dbname = postgres
testdbname = testdb

# MariaDB setting

# Oracle setting

# testdb
selectlimit = 10